
  :root {
    --fretboard-height: 300;
    --number-of-strings: 6;
    --string-height: 10;
    --half-string-height: calc(var(--string-height) / 2);
    --string-top-position: calc(var(--fretboard-height) / var(--number-of-strings) / 2 - var(--half-string-height));
    --double-fretmark-1: calc(var(--fretboard-height) * 0.33);
    --double-fretmark-2: calc(var(--fretboard-height) * 0.67);
    --noteOpacity: 0;
  }

* {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: sans-serif;
}

.settings {
  display: flex;
  color: #fff;
  padding: 20px;
  border-bottom: 1px solid #444;
  background: #282828;
}

.accidental-selector {
  margin-left: 20px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

label {
  margin: 0 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.fretboard {
  display: flex;
  flex-direction: column;
  background: #be975b url(./wood-pattern.png);
  width: 100%;
  min-width: 1500px;
  height: calc(var(--fretboard-height) * 1px);
  margin-top: 50px;
}

.string {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.string::before {
  content: '';
  width: 100%;
  height: calc(var(--string-height) * 1px);
  background: linear-gradient(#eee, #999);
  box-shadow: 76px 3px 10px #806233;
  z-index: 1;
  position: absolute;
  top: 22px;
  top:calc(var(--string-top-position) * 1px)
}

.note-fret {
  display: flex;
  flex: 1;
  border-right: 10px solid;
  border-image: linear-gradient(to left, #777, #bbb, #777) 1 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.note-fret:first-child {
  background: #161717;
  min-width: 76px;
  border-right: 12px solid;
  flex-grow: 0;
  flex-shrink: 0;
  border-image: linear-gradient(to left, #bbb, #fff, #bbb) 1 100%;
}

.note-fret::before {
  content: attr(data-note);
  width: 33px;;
  height: 33px;
  border-radius: 50%;
  line-height: 33px;
  text-align: center;
  background: teal;
  z-index: 2;
  color: #eee;
  opacity: var(--noteOpacity);
}

.single-fretmark::after, .double-fretmark::before, .double-fretmark::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #493824;
}

.single-fretmark::after {
  top: calc(var(--fretboard-height) / 2 * 1px);
  transform: translate(0, -50%);
}

.double-fretmark::before {
  top: calc(var(--double-fretmark-1) * 1px);
  transform: translate(-140%, -50%);
}

.double-fretmark::after {
  top: calc(var(--double-fretmark-2) * 1px);
  transform: translate(-140%, -50%);
}

.note-name-section {
  width: 100%;
  color: #fff;
  font-weight: 100;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
}

.note-name-section span {
  padding: 10px;
  cursor: pointer;
}

.note-name-section span:hover {
  color: teal;
}