body {
  background-color: Black;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 150px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}


h1 {
  color: rgb(255, 255, 255);
  margin-left: 20px;
  font-family: Verdana, sans-serif;
}

h2 {
  color: rgb(255, 255, 255);
  margin-left: 15px;
  font-family: Verdana, sans-serif;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.description {
  color: white;
  font-size: small;
  font-family: Georgia, serif;
  /* font-family: Georgia, Verdana, sans-serif; */
}

.footer {
  color: gray;
  font-size: medium;
  font-family: Verdana, sans-serif;
}